{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radiation</title>
</head>
<body>
    <div>
        <div class="header">
            <p>داده‌های تابش و دیدافقی ایستگاه موسسه ژئوفیزیک دانشگاه تهران</p>
            <img src="{% static 'images/Logo-Geophysics.png' %}" alt="UT logo" class="ut-logo">
        </div>
        
        <div class="header-line">
            <hr size="2" color="gray" noshade>
        </div>
    </div>


    <canvas id="radiationChart" width="700" height="300"></canvas>
    <canvas id="radiationChart2" width="700" height="300"></canvas>
    <canvas id="tempChart" width="700" height="200"></canvas>
    <canvas id="visibilityChart" width="700" height="auto"></canvas>



    <script>
        const date = [
            {% for item in data %}
                "{{ item.date}}"{% if not forloop.last %},{% endif %}
            {% endfor %}] 
            console.log(date)

        const time = [
            {% for item in data %}
                "{{ item.time}}"{% if not forloop.last %},{% endif %}
            {% endfor %}] 
            console.log(time)

        const SU = [
            {% for item in data %}
                "{{ item.SU}}"{% if not forloop.last %},{% endif %}
            {% endfor %}] 
            console.log(SU)

        const SD = [
            {% for item in data %}
                "{{ item.SD}}"{% if not forloop.last %},{% endif %}
            {% endfor %}] 
            console.log(SD)


        const IU = [
            {% for item in data %}
                "{{ item.IU}}"{% if not forloop.last %},{% endif %}
            {% endfor %}] 
            console.log(IU)
        const ID = [
            {% for item in data %}
                "{{ item.ID}}"{% if not forloop.last %},{% endif %}
            {% endfor %}] 
            console.log(ID)
        const Tm = [
            {% for item in data %}
                "{{ item.Tm}}"{% if not forloop.last %},{% endif %}
            {% endfor %}] 
            console.log(Tm)


        // Vis

        const date_vis = [
            {% for item in data_vis %}
                "{{ item.date}}"{% if not forloop.last %},{% endif %}
            {% endfor %}] 
            console.log(date)

        const time_vis = [
            {% for item in data_vis %}
                "{{ item.time}}"{% if not forloop.last %},{% endif %}
            {% endfor %}] 
            console.log(time)

        const vis_vis = [
            {% for item in data_vis %}
                "{{ item.vis}}"{% if not forloop.last %},{% endif %}
            {% endfor %}] 
            console.log(SU)
    </script>
    <script src="{% static 'chartjs/chart.js' %}"></script>
    <script src="{% static 'chartjs/radiationchart.js' %}"></script>
    <script src="{% static 'chartjs/radiationchart2.js' %}"></script>
    <script src="{% static 'chartjs/tempchart.js' %}"></script>
    <script src="{% static 'chartjs/vischart.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
</body>
</html>